*
{
    margin: 0;
    padding: 0;
}
nav
{
    display: flex;
    justify-content:center;
    margin-top: 10px;
    background-color: black;
    width: 80%;
    height: 70px;
    margin-left: 150px;
   
}

nav > div > ul
{
    padding-right: 355px;
}
nav > div > ul 
{
    list-style-type: none;
    display: flex;
    margin-left: 5px;
}
nav > div > ul > li
{
    list-style-type: none;
   
   margin-left: 15px;
}
nav > div
{
    margin-top: 14px;
    box-sizing: border-box;
    /* margin-right: 100px; */
}
nav > div > img
{
    padding-right: 15px;
    
}
/* 1 */
section 
{
    margin-left: 260px;
    margin-top: 20px;
}
/* end 1 */


/* 2 */
section
{
    display: flex;
    flex-basis: 1fr;
    
}

section:nth-child(2)
{
    margin-top: 50px;
}
section:nth-child(2) > div 
{
    width: 307.50px;
    height:300px;
    background-color: black;
    margin-right: 4px;
      
}

section :nth-child(3)
{
    margin-left: 5px;
}

section :nth-child(2)
{
    margin-left: 5px;
}

/* end 2 */

/* footer */
footer > div
{
    background-color: black;
    width:100%;
    height: 70px;
    margin-top: 70px;
}
/* end footer */

/* 3 */
section:nth-child(3)
{
    margin-top: 40px;
  
}
section:nth-child(3) > div:nth-child(1)
{
    background-color: black;
    width: 466px;
     height: 250px;
     margin-top: 10px;
   
}
section:nth-child(3) > div:nth-child(2)
{
   
   width: 466px;
   padding-left:30px;
   height: 300px;
}
section:nth-child(3) > div:nth-child(2) > button
{
   
   width: 100px;
   height: 30px;
   color: white;
   cursor: pointer;
   background-color: black;
   margin-top: 5px;
}

section:nth-child(3) > div:nth-child(2)
{
   
   width: 466px;
   padding-left:30px;
   height: 300px;
   background-color: white;
   padding-top: 12px;
}

section:nth-child(3) > div:nth-child(2) 
  {
    
   margin-left: px;
   margin-top: 5px;
 
  }

  section:nth-child(3) > div:nth-child(2) > div
  {
    
    width: 200px;
    height: 100px;
    
    overflow-y: scroll; /* Add the ability to scroll */
    width: 460px;
    height: 190px;
  }
  section:nth-child(3) > div:nth-child(2) > div::-webkit-scrollbar {
    display: none;
}
section:nth-child(3) > div:nth-child(2) > div {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

  
  
  
  